<div class="container text-center">
    <div class="row">

        <div class="col-6">
            Cidade
        </div>

        <div class="col-6">
            CEP Padrão
        </div>

    </div>


    <div *ngFor="let cd of cidades; let i = index" (click)="getSub(cd.nome);">

        <div class="row">

            <div class="col-6 text-left">
                <span class="ui-accordion-toggle-icon fa fa-fw" [ngClass]="{'fa-caret-down' : isActive(cd.nome), 'fa-caret-right' : !isActive(cd.nome) }">

                </span>
                {{cd.nome}}
            </div>
            <div class="col-6">
                {{cd.cep}}
            </div>
        </div>
        <div class="row" *ngIf="isActive(cd.nome)" [ngClass]="{activetab: isActive(cd.nome)}">
            <div class="col-12 text-center">
                {{cd | json}}
            </div>
        </div>
    </div>

</div>