<div class="row">

  <div class="col-12">
    <form class="form-horizontal" [formGroup]="frmCouch" (ngSubmit)="onSubmitCouchDb()">

      <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-md-12">
          <label for="_id" class="control-label">Key</label>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="_id" placeholder="Key no CouchDb" formControlName="_id">
        </div>
      </div>

      <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-md-12">
          <label for="id" class="control-label">Id</label>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="id" placeholder="ID do registro" formControlName="id">
        </div>
      </div>

      <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-md-12">
          <label for="sigla" class="control-label">Key</label>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="sigla" placeholder="Sigla do Estado" formControlName="sigla">
        </div>
      </div>

      <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-md-12">
          <label for="nome" class="control-label">Nome</label>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="nome" placeholder="Descrição do Estado" formControlName="nome">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Gravar</button>
      <button class="btn" (click)="resetar()">Limpar</button>

    </form>
  </div>

</div>
<br/>
<div class="row">

  <div class="col-12">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">_id</th>
          <th scope="col">id</th>
          <th scope="col">Sigla</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let uf of rows">
              <th>
                  <a href="javascript:void(0)" (click)="selectRow(uf)">{{uf._id}}</a>
              </th>
              <td>{{uf.id}}</td>
              <td>{{uf.sigla}}</td>
              <td>{{uf.nome}}</td>
            </tr>
      </tbody>
    </table>
  </div>

</div>