<form class="horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <div class="col-md-12">
          <label for="nome" 
              class="control-label">Id</label>
      </div>
      <div class="col-md-12">
          <input type="text" 
              class="form-control" 
              id="id" 
              placeholder="Id da UF" 
              formControlName="id">
      </div>
  </div>
  <div class="form-group">
      <div class="col-md-12">
          <label for="sigla" 
              class="control-label">Sigla</label>
      </div>
      <div class="col-md-12">
          <input type="text" 
              class="form-control" 
              id="sigla" 
              placeholder="Entre com a sigla" 
              formControlName="sigla">
      </div>
  </div>
  <div class="form-group">
      <div class="col-md-12">
          <label for="nome" 
              class="control-label">Nome</label>
      </div>
      <div class="col-md-12">
          <input type="text" 
              class="form-control" 
              id="nome" 
              placeholder="Entre com o nome" 
              formControlName="nome">
      </div>
  </div>
</form>